/* основной цвет текста #212121 */
/* вторичный цвет текста #757575 */
/* белый цвет на Кнопке #FFFFFF */
/* акцент #2196F3 */
/* вторичный цвет фона #F5F4FA */

/* Структура CSS:
1. Шрифты
2. Переменные
3. Теги (базовые настройки и др.)
4. Классы (общие, ...*/

/* Переменные */
:root {
  --primary-text-color: #212121;
  --hero-text-color: #ffffff;
  --hero-bg-color: #2f303a;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --secondary-bg-color: #f5f4fa;
  --line-color: #ececec;
  --card-border-color: #eeeeee;
  --grid-item: 3;
}
/* Рекомендуется всегда подключать */
/*Стили для box-sizing которые стоит использовать по-умолчанию*/
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Основное тело страницы */
body {
  margin: 0; /*Удаляет стандартный маржин 8пх*/
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
/* Стандартный набор стилей для картинок */
img {
  display: block; /*чтобы убрать отступ под картинкой ка ынлайновый элем.*/
  max-width: 100%;
  height: auto;

  /* Стили для обнуления верхних отступов у элементов */
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

/* Списки без стандартных точек */
/*Класс для обнуления базовых свойств у списков (ul)*/
.list {
  display: flex; /*для всех списков делает флех*/

  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
/*для всех списков делает маржин*/
.list-item:not(:last-child) {
  margin-right: 30px;
}
/*Класс для обнуления базовых свойств у ссылок*/
.link {
  text-decoration: none;
  color: inherit;
}

/* визуальное скрытие */
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
  /*margin: 0 auto;*/ /*альтернатива двум предыдущим записям*/
}
/* Выравнивание в один ряд списка навигации */
.menu {
  display: inline-flex;
}
/* отступы между эл. списка ссылок, кроме последнего */
.menu-item:not(:last-child) {
  margin-right: 50px;
}

.site-nav {
  /* padding-top: 24px;
  padding-bottom: 24px; */
  border-bottom: 1px solid var(--line-color);
}
/* Выравнивание в один ряд всех эл. хедера (навигации) */
.site-nav .container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
/* Для увеличения кликабельной области ссылок в хедере  */
.navigation {
  display: flex;

  align-items: center;
  margin-right: auto;
}
/* Отступ для лого в хедере */
.site-nav .logo {
  margin-right: 93px;
}
/* logo */
.logo {
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}
.logo-title {
  color: var(--primary-text-color);
}

/* Навигация */
.site-nav .link {
  display: block;

  padding-top: 32px;
  padding-bottom: 32px;

  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.site-nav .current,
.site-nav .link:hover,
.site-nav .link:focus,
.addr-title .link:hover,
.addr-title .link:focus {
  color: var(--accent-color);
}
/* contacts */
.contact .link {
  color: var(--secondary-text-color);
}

/* hero */
.hero {
  /* min-height: 100vh; */
  /*min-height: 1600;*/
  padding-top: 200px;
  padding-bottom: 280px;
  text-align: center;
  background-color: var(--hero-bg-color);
}

.hero-title {
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--hero-text-color);
}
/* button */
.btn {
  align-items: center;
  background-color: var(--secondary-bg-color);
  font-family: inherit;
  font-size: 16px;
  color: var(--primary-text-color);
  border: none;
  border-radius: 4px;
}
.btn:hover,
.btn:focus {
  background-color: var(--accent-color);
  color: var(--hero-text-color);
  cursor: pointer;
}
.btn.btn-main {
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--hero-text-color);
}
.btn.btn-portfolio {
  font-weight: 500;
  line-height: 1.62;
  padding: 6px 22px;
}
.btn-list {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}
.btn-list .list-item:not(:last-child) {
  margin-right: 8px;
}
/* section */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--primary-text-color);
}

/* features */
.feature-list {
  color: var(--secondary-text-color);
}
/* Задаёт ширину эл. списка Особенностей */
.feature-list .list-item {
  width: calc(100% / 12 * var(--grid-item));
  /* max-width: 300px; */
}
.feature-list .title {
  margin-bottom: 10px;

  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-text-color);
}

/* team */
.section.team {
  background-color: var(--secondary-bg-color);
}
.team-list {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.team-list .title {
  font-weight: 500;
  color: var(--primary-text-color);
}
.team-list .img-title {
  padding-top: 30px;
  padding-bottom: 30px;

  background-color: var(--hero-text-color);
}
.img-title .title {
  margin-bottom: 10px;
}
/* порфолио карточки*/
.portfolio-list {
  flex-wrap: wrap;

  font-size: 16px;
  line-height: 1.875;
  color: var(--secondary-text-color);
}

/* отступы между эл. списка ссылок, кроме последнего */
.portfolio-list .list-item:nth-child(3n) {
  margin-right: 0px;
}
.portfolio-list .list-item {
  margin-bottom: 30px;

  flex-basis: calc((100% - 30px * (var(--grid-item) - 1)) / var(--grid-item));
}
.portfolio-list .card-title {
  padding: 20px 24px;
  /* padding-bottom: 20px; */
  border: 1px solid var(--card-border-color);
  border-top: none;
}
.card-title .title {
  margin-bottom: 4px;
}
.portfolio-list .title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

/* footer */
.footer {
  background-color: var(--hero-bg-color);
}
.footer.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-logo-title {
  color: var(--hero-text-color);
}
.footer .addr-title {
  margin-top: 20px;

  color: var(--hero-text-color);
  font-style: normal;
}
.footer .foot-link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}
.addr-title .list {
  display: inline;
}
.addr-item:not(:last-child) {
  margin-bottom: 8px;
}
